body {
	font-family: 'Quattrocento Sans', sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
}

/* wrap -----------------------------------------------*/

.wrap {
	width: 800px;
	margin: 0 auto;
	padding: 60px 0 0 0;
}

/* header ----------------------------------------------*/

header {
	margin-bottom: 15px;
	font-size: 16px;
}
header span {
	display: inline-block;
	width: 50%;
}
header span:last-child {
	text-align: right;
}

/* content ---------------------------------------------*/

.content {
	box-shadow: 0 2px 7px #ccc;
	box-sizing: border-box;
	padding: 40px 25px 40px 40px;
	overflow: auto;
}

/* loveit ----------------------------------------------*/

.wrap-loveit {
	float: right;
	width: 30%;
	border-left: 1px solid #ccc;
	display: flex;
}
.white {
	width: 25px;
	flex-shrink: 0;
}
.loveit {
	background-color: #eee;
	padding-top: 10px;
	color: #666;
	font-size: 12px;
	height: 600px;
}
.loveit h2 {
	font-size: 150%;
	text-align: center;
}
.loveit ul {
	padding-right: 30px;
}
.loveit li {
	margin-bottom: 15px;
}
.loveit a {
	text-decoration: underline;
}

/* main-form ---------------------------------*/

.main-form {
	font-size: 14px; 
}
.main-form h1 {
	font-weight: normal;
	font-size: 230%;
	line-height: 1.5;
}
.main-form label {
	display: block;
	margin-bottom: 20px;
}
.main-form input {
	display: block;
}
.main-form input {
	padding: 8px;
	border-radius: 3px;
	width: 300px;
	border: 1px solid #ccc;
	margin-bottom: 30px;
}
#pass {
	background-image: url(images/lock.svg);
	background-repeat: no-repeat;
	background-position: 290px 5px;
	background-size: 15px;
}
.main-form input[type=checkbox] {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0;
	background-color: #fff;
}
.main-form label[for=remember] {
	display: inline-block;
	position: relative;
	top: -5px;

}
.main-form input[type=submit] {
	width: 100px;
	color: #fff;
	background-color: #45CAE6;
	border: 0;
	cursor: pointer;
	background-image: url(images/lock2.png);
	background-repeat: no-repeat;
	background-position: 15px 8px;
	background-size: 10px;
	margin-bottom: 10px;
}
.main-form .agree {
	color: #888;
	font-size: 90%;
}
.main-form .agree a {
	color: #45CAE6;
}

/* nav ----------------------------------------*/

nav {
	font-size: 14px;
	color: #aaa;
	margin: 80px 0;
	text-align: center;
}
nav a {
	margin-left: 13px;
	margin-right: 13px;
}

/* images ----------------------------------------*/

.images {
	margin-bottom: 50px;
	text-align: center;
}
.images a:first-child img {
	margin-right: 30px;
}
.images a:last-child img {
	position: relative;
	top: -10px;
}

/* footer ----------------------------------------*/

footer{
	text-align: center;
	color: #aaa;
	font-size: 12px;
	margin-bottom: 100px;
}
